*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    
}
:root{
    --text-color:#fff;
    --bg-color:#000;

    --h1-font:6rem;
    --h2-font:3rem;
    --p-font:1rem;

    --transition: all .5s ease;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;

}
.button{
    background-color: rgba(91, 204, 178, 0.429);
    padding: 10px 30px;
    color: var(--bg-color);
    border-radius: 5px;
    display: inline-block;
    transition: var(--transition);
    border: 2px solid transparent;
}
.button:hover{
    transform: translate(10px);
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color)
    
}
.main-text{
    color: rgba(91, 204, 178, 0.77);
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 6px;


}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(35px);
    padding: 30px 20px;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    
}
.logo{
    color: var(--text-color);
    transition: var(--transition);
    font-size: 40px;
    font-weight: 700;
    
}
  
.logo span{
    color: rgb(91, 204, 178);
}
.logo span:hover{
    transform: translateY(-5px);
}
.navbar{
    display: flex;
    gap: 20px;
}

.navbar a{
    color: var(--text-color);
    margin: 15px 0;
    font-weight: 600;
    font-size: var(--p-font);
    transition: var(--transition);
  
}
.navbar a:hover{
    color: rgb(91, 204, 178);
}
    
.social-medya{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  
}
.social-medya .fa-solid{

display: none;
}
.social-medya a{
    color: var(--text-color);
    transition: var(--transition);
    font-size: 20px;
}

    .social-medya a:hover{
        color: rgb(91, 204, 178);
        transform: translateY(-5px);

    }
    .banner{
        background-image: linear-gradient(to left,rgba(0, 0, 0, 0.401),rgba(0, 0, 0, 0.122)), url(images/background.jpeg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

    }
    .banner-text{
        margin-top: 80px;
        margin-left: 15px;
    }
    .banner-text h1{
        font-size: var(--h1-font);
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .banner-text p{
        font-size: var(--p-font);
        color: #c8b9b9;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .holiday{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:8rem;
        align-items: center;
        padding: 15px 20px;
        justify-content: center;
    }
  .holiday-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(70%);
    transition: var(--transition);

  }
  .holiday-image img:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: translate(5px, -5px);

  }
.holiday-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tours h2{
    text-align: center;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}
.tour-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 3rem;


}
.boxes{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
}
.boxes h6{
    padding-left: 10px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    color: var(--bg-color);
    font-weight: bolder;
    font-size: 1rem;
    
}
.boxes img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    border-radius: 10px;
    transition: var(--transition);
    
    
}
.boxes img:hover{
    filter: brightness(90%) hue-rotate(50deg);
    transform: translateY(-10px);
}
.center-button{
    margin-top: 3rem;
    text-align: center;
}
.explore{
    display: flex;
    gap: 300px;
    justify-content: space-between;
    
    height: 50px;
   
}
.winter-main{
    padding-left: 10px;
}
.winter-main h2{
    font-size: 40px;
    color: rgb(91, 204, 178);
}

.mail{
    padding: 10px 5px;
    width: 450px;
}
.sub{
    padding: 10px 5px;
    width: 300px;
}










    @media (max-width:720px){

        :root{
            --h1-font: 3rem;
            --h2-font: 2rem;
            --p-font: 12px;
        }
        .social-medya .fa-brands{
            display: none;

        }
        .social-medya .fa-solid{
            display: block;
        }
        .holiday{
            grid-template-columns: 1fr;
        }
    }